<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Management</title>
    <link rel="icon" href="/Data/Icon/Home_Page/Icon.png">
    <link rel="stylesheet" href="../../../bootstrap-5.0.2-dist/css/bootstrap.min.css" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet" />
    <script src="../../../jquery-3.7.1/jquery-3.7.1.min.js"></script>
    <script src="../../../bootstrap-5.0.2-dist/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="../../css/styles.css" />
    <style>
        main {
            background-image: url(/Data/Images/4/1/7.jpg);
        }
    </style>
</head>

<body>
    <header id="header"></header>
    <main class="d-flex">
        <!-- Sidebar -->
        <div id="sidebar" class="bg-light border-right" style="width: 250px; height: 100vh">
            <h2 class="p-3"><b>DANH MỤC QUẢN LÝ</b></h2>
            <ul class="nav flex-column">
                <li class="nav-item">
                    <button style="color: #eeeae6; background-color: #d64d68; border-radius: 8px; border: 0px;"><a style="color: #eeeae6;" href="/src/components/pages/userManagement.html" class="nav-link active" id="userManagement">Người dùng</a></button>
                </li>
                <li class="nav-item">
                    <button style="color: #eeeae6; background-color: #d64d68; border-radius: 8px; border: 0px;"><a style="color: #eeeae6;" href="/src/components/pages/productManagement.html" class="nav-link" id="productManagement">Dịch vụ</a></button>
                </li>
                <li class="nav-item">
                    <button style="color: #eeeae6; background-color: #d64d68; border-radius: 8px; border: 0px;"><a style="color: #eeeae6;" href="/src/components/pages/orderManagement.html" class="nav-link" id="orderManagement">Đơn hàng</a></button>
                </li>
                <li class="nav-item">
                    <button style="color: #eeeae6; background-color: #d64d68; border-radius: 8px; border: 0px;"><a style="color: #eeeae6;" href="/src/components/pages/analysis.html" class="nav-link" id="analysis">Thống kê</a></button>
                </li>
            </ul>
        </div>
    </main>

    <footer id="footer"></footer>

    <script src="../../components/common/header.js"></script>
    <script src="../../components/common/footer.js"></script>
    <script src="../../js/components/main.js"></script>
    <script src="src/js/components/avatar.js"></script>
</body>

</html>