<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WeddingPlanning</title>
    <link rel="stylesheet" href="../../css/styles.css">
    <script src="../../js/components/main.js"></script>
</head>
<body>
    <header id="header"></header>
    <main id="main">
        <div>
            <h1>Đây là trang quản trị của admin</h1>
        </div>
    </main>
    <footer id="footer"></footer>
</body>
</html>