<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WeddingPlanning</title>
    <link rel="stylesheet" href="../../../bootstrap-5.0.2-dist/css/bootstrap.min.css">
    <script src="../../../jquery-3.7.1/jquery-3.7.1.min.js"></script>
    <script src="../../../bootstrap-5.0.2-dist/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="../../css/styles.css">
    <link rel="stylesheet" href="../../css/components/header.css">
    <link rel="stylesheet" href="../../css/components/cart.css">
    <link rel="stylesheet" href="../../css/components/footer.css">
</head>

<body>
    <header id="header"></header>
    <main id="main">
        <div class="container" style="margin-top:140px;">
        <div class="ms-4">
            <h4>1. Ưu đãi hấp dẫn </h4>
            <p>
                Với những cặp đôi còn đắn đo về nhiều khoản tiền phải bỏ ra, quyết định chọn những gói khuyến mãi tiệc cưới của Wedding Planning là điều sáng suốt. Chúng tôi thường xuyên đưa ra các gói khuyến mãi tiệc cưới trong cả năm. Gía trị các khuyến mãi thường từ 20-30% tổng giá trị. Ngoài ra trong năm, chúng tôi thường có từ 3 đến 4 dịp tung ra các chương trình ưu đãi bàn tiệc. Trong thời gian này mức giá cho các bàn tiệc trở nên hấp dẫn bởi chính sách đồng giá tất cả gói dịch vụ.</p>
        </div>

        <div class="ms-4">
            <h4>2. Chất lượng không đổi</h4>
            <p>Nhiều cặp đôi lo lắng đến chất lượng dịch vụ khi sử dụng gói  khuyến mãi tiệc cưới. Theo cam kết của Wedding Planning, chúng tôi đảm bảo rằng chất lương tiệc cưới của bạn không đổi khi sử dụng các gói khuyến mãi. Bởi chúng tôi hiểu rằng uy tín với khách hàng là điều quan trọng nhất. Chất lượng món ăn không đổi, dịch vụ chăm sóc khách hàng không đổi, đội ngũ nhân viên phục vụ tận tình, dịch vụ trang trí sảnh cưới độc đáo. Wedding Planning sở hữu đội ngũ chuyên nghiệp có thể tư vấn giúp bạn những cách siêu tiết kiệm mà vẫn có được một bữa tiệc sang trọng đẳng cấp.</p>
            
        </div>


        <div class="ms-4">
            <h4>3. Thời gian đều trong năm </h4>
            <p>Nếu bạn lo mình đã bỏ lỡ những dịp khuyến mãi tiệc cưới của Wedding Planning thì đừng lo. Chúng tôi thường xuyên tổ chức những đợt khuyến mãi thế này trong năm, thậm chí vào mùa cưới chúng tôi  còn tăng thêm nhiều suất khuyến mãi cho các cặp đôi. Tùy theo thời gian mà những gói dịch vụ cũng có các thay đổi để làm hài lòng khách hàng.</p>
        </div>

        <div class="ms-4">
            <h4>4. Thanh toán rõ ràng, tiện lợi </h4>
            <p>Ở nhà hàng tiệc cưới Wedding Planning, chứng tôi công khai các vấn đề đặt cọc và thanh toán đến khách hàng. Thông thường, bạn có ba lần đặt cọc. Khi biết rõ thời gian và số lượng khách mời, bạn có một lần đặt cọc để  giữ sảnh. Lần đặt cọc thứ hai sau khi chọn xong thực đơn tiệc cưới. Chúng tôi sẽ nhận cọc món ăn của bạn. Cuối cùng là những khoản còn lại sẽ được thanh toán sau tiệc cưới.</p>
        </div>
        <div class="ms-4">
            <h4>5. Hoàn tiền mặt lên đến 40 triệu đồng </h4>
            <p>Nhằm xoá bỏ gánh nặng của các cặp đôi về ngân sách cưới, Wedding Planning gửi đến cô dâu - chú rể ưu đãi "ĐẶT BÀN CÀNG NHIỀU, HOÀN TIỀN CÀNG CAO". Theo đó, khi đặt tiệc tại Wedding Planning, đôi bạn sẽ có cơ hội nhận được số tiền mặt lên đến 40 triệu đồng. Chương trình sẽ áp dụng cho số bàn nhất định cùng những điều kiện đi kèm. Hãy liên hệ ngay với Wedding Planning để nắm rõ thông tin chi tiết nhé.</p>
        </div>
       
    </div>
    </main>
    <footer id="footer"></footer>
    <script src="../common/header.js"></script>
    <script src="../common/footer.js"></script>
    <script>
        const headerElement = document.getElementById('header');
        headerElement.innerHTML = headerHTML;
        const footerElement = document.getElementById('footer');
        footerElement.innerHTML = footerHTML;
        </script>
</body>

</html>