<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WeddingPlanning</title>
    <link rel="stylesheet" href="../../../bootstrap-5.0.2-dist/css/bootstrap.min.css">
    <script src="../../../jquery-3.7.1/jquery-3.7.1.min.js"></script>
    <script src="../../../bootstrap-5.0.2-dist/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="../../css/styles.css">
    <link rel="stylesheet" href="../../css/components/header.css">
    <link rel="stylesheet" href="../../css/components/cart.css">
    <link rel="stylesheet" href="../../css/components/footer.css">
</head>

<body>
    <header id="header"></header>
    <main id="main">
        <div class="container" style="margin-top:140px;">
        <div class="ms-4">
            <h4>1. Thu thập thông tin </h4>
            <p>
                Các thông tin cá nhân của khách hàng, có thể được chúng tôi sử dụng vào những mục đích hợp pháp dưới đây:</p>
            <ul >
                <li>Sử dụng để xác nhận đặt hàng khi khách hàng có nhu cầu mua bất kỳ sp nào trên website</li>
                <li>Dùng trong gửi thông báo, thực hiện các chương trình quảng cáo, PR cho các dịch vụ mới được sử dụng trên website</li>
                <li>Cung cấp thông tin về dịch vụ bằng email</li>
                <li>Dùng để phân tích xu hướng tiêu dùng của khách hàng, với mục đích xây dựng những dịch vụ mới, hoặc cải thiện những dịch vụ cũ.</li>
                <li>Dùng để liên lạc với khách hàng khi chúng tôi điều tra thông tin khách hàng, tổ chức khuyến mại, trao đổi ý kiến thông tin trên bảng đánh giá, bình luận.</li>
                <li>Dùng để trả lời các thắc mắc của khách hàng: chúng tôi sẽ trả lời khách hàng bằng email, điện thoại, hoặc gửi thư tới địa chỉ của khách hàng, khi khách hàng thắc mắc</li>
            </ul>
        </div>

        <div class="ms-4">
            <h4>2. Phạm vi sử dụng thông tin:</h4>
            <p>Thông tin khách hàng được thu thập sẽ chỉ được sử dụng trong nội bộ công ty Wedding Planning. Thông tin
                cá nhân khách hàng được bảo mật tuyệt đối, không cung cấp cho bên thứ 3 ngoài nội bộ công ty, trừ trường
                hợp được cơ quan có thẩm quyền yêu cầu theo các quy định của pháp luật. Thông tin của khách hàng được sử
                dụng nhằm mục đích:</p>
            <ul class=>

                <li>Hỗ trợ khách hàng khi cần tìm hiểu sản phẩm/ dịch vụ của công ty Wedding Planning.</li>
                <li>Giải đáp thắc mắc của khách hàng.</li>
                <li>Xem xét và nâng cấp nội dung, giao diện của website</li>
                <li>Cải thiện và phát triển các dịch vụ của chúng tôi nhằm đáp ứng tốt hơn nhu cầu của khách hàng.</li>

            </ul>
        </div>


        <div class="ms-4">
            <h4>3. Bảo vệ Dữ liệu Cá nhân: </h4>
            <p>Khi quý khách gửi thông tin cá nhân của quý khách cho Wedding Planning, quýkhách đã đồng ý với các điều khoản
                mà chúng tôi đã nêu ở trên. Chúng tôi cam kết rằng những thông tin mà quý khách đã cung cấp sẽ được bảo mật và
                được sử dụng để đem lại lợi ích tối đa cho quý khách.</p>
            <p>Thông tin cá nhân của khách hàng được Công ty Wedding Planning cam kết bảo mật tuyệt đối. Việc thu thập và sử dụng thông tin của mỗi khách hàng chỉ được thực hiện khi có sự đồng ý của khách hàng đó trừ trường hợp pháp luật có quy định khác. Không sử dụng, không chuyển giao, cung cấp hay tiết lộ cho bên thứ 3 nào về thông tin cá nhân của khách hàng khi không có sự cho phép đồng ý từ khách hàng.

                Công ty Wedding Planning yêu cầu các cá nhân phải cung cấp đầy đủ thông tin cá nhân có liên quan như: (họ và tên, địa chỉ liên lạc, email,…) Và chịu trách nhiệm về tính pháp lý của những thông tin trên. Công ty không chịu trách nhiệm cũng như không giải quyết mọi khiếu nại có liên quan đến quyền lợi của khách hàng đó nếu xét thấy tất cả các thông tin cá nhân của khách hàng đó cung cấp ban đầu là không chính xác.</p>
        </div>

        <div class="ms-4">
            <h4>4. Phục Vụ </h4>
            <p><ul>
                <li><b>Menu và dịch vụ đi kèm:</b> Tất cả các món ăn và dịch vụ đã được thống nhất trong hợp đồng.</li>
                <li><b>Thử món trước tiệc:</b> Khách hàng được thử món theo yêu cầu (phụ thuộc vào gói dịch vụ).</li>
                <li><b>Tiêu chuẩn phục vụ:</b> Đội ngũ nhân viên chuyên nghiệp, đảm bảo phục vụ chu đáo, kịp thời.</li>
            </ul> </p>
        </div>
        <div class="ms-4">
            <h4>5. Thời gian lưu trữ thông tin</h4>
            <p>Dữ liệu cá nhân của khách hàng sẽ được lưu trữ cho đến khi có yêu cầu hủy bỏ hoặc công ty giải thể hoặc bị phá sản. Còn lại trong mọi trường hợp thông tin cá nhân khách hàng sẽ được bảo mật tại Wedding Planning</p>
        </div>
    </div>
    </main>
    <footer id="footer"></footer>
    <script src="../common/header.js"></script>
    <script src="../common/footer.js"></script>
    <script>
        const headerElement = document.getElementById('header');
        headerElement.innerHTML = headerHTML;
        const footerElement = document.getElementById('footer');
        footerElement.innerHTML = footerHTML;
        </script>
</body>

</html>