<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WeddingPlanning</title>
    <link rel="icon" href="/Data/Icon/Home_Page/Icon.png">
    <link rel="stylesheet" href="../../../bootstrap-5.0.2-dist/css/bootstrap.min.css">
    <script src="../../../jquery-3.7.1/jquery-3.7.1.min.js"></script>
    <script src="../../../bootstrap-5.0.2-dist/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="../../css/styles.css">
</head>

<body>
    <header id="header"></header>
    <main id="main">

        <div class="container">
            <div class="row" id="product-container">
            </div>
        </div>
    </main>
    
    <footer id="footer"></footer>
    <script src="../../components/common/header.js"></script>
    <script src="../../components/common/footer.js"></script>
    <script src="../../../Data/products.js"></script>
    <script src="../../js/components/main.js"></script>
    <script src="/src/js/components/shop.js"></script>
    <script src="src/js/components/avatar.js"></script>
</body>

</html>