section>a {
    text-decoration: none;
}

header {
    height: 100px;
    width: auto;
    background-color: #eeeae6;
}

body>main {
    text-align: center;
    padding: 0px 15% 0px;
    /* background-color: #eeeae6; */
}
footer {
    margin-top: 0px;
    /* background-color: #eeeae6; */
}

/* Phần css cho chuyển ảnh đầu trang chủ */
.slider {
    width: auto;
    height: auto;
    max-height: 800px;
    overflow: hidden;
}

.slide {
    width: 100%;
    height: 100%;
    float: left;
}

.flickity-button {
    position: absolute;
    top: 60%;
    width: auto;
    margin-top: -22px;
    padding: 10px 20px;

    color: #ffffff;
    font-weight: bold;
    font-size: 18px;
    border-radius: 50%;
    border: 1px solid #ffffff;
    transform: translateY(-50%);

}

.flickity-prev-next-button.previous {
    left: 20%;
    /* Điều chỉnh khoảng cách từ mép trái */
}

.flickity-prev-next-button.next {
    right: 20%;
    /* Điều chỉnh khoảng cách từ mép phải */
}

.previous:hover,
.next:hover {
    background-color: aqua;
    color: #fff;

}

/* Phần css vài địa điểm nổi bật */
.container_Locations {
    display: flex;
}

.image-container {
    position: relative;
    width: 800px;
    /* Điều chỉnh chiều rộng */
    height: 400px;
    /* Điều chỉnh chiều cao */
    margin: 20px auto;
}

.image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.text {
    position: absolute;
    bottom: 20px;
    left: 20px;
    color: white;
    font-size: 24px;
    /* background: rgba(0, 0, 0, 0.5); */
    padding: 10px;
}