/* ĐÂY LÀ FILE CSS TOÀN CỤC */

*.text-bold {
    font-family: 'Albert Sans', sans-serif;
    font-weight: bold;
}

*.text-normal {
    font-family: Lora, serif;
    font-weight: normal;
    color: #d64d68;
}
