<header > 
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WeddingPlanning</title>
    <link rel="stylesheet" href="../../../bootstrap-5.0.2-dist/css/bootstrap.min.css">
    <script src="../../../jquery-3.7.1/jquery-3.7.1.min.js"></script>
    <script src="../../../bootstrap-5.0.2-dist/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="../../css/styles.css">
    <link rel="stylesheet" href="../../css/components/header.css">
    <base href="/">
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-white fixed-top">
      <div class="container">
        <a class="navbar-brand" href="../pages/infor.html">
          <img src="../../../Data/Logo/logo1.jpg" class="img-fluid" alt="logo" width="100px">
          <div class="d-flex flex-column">
              <a class="navbar-brand" href="../pages/infor.html">
                  WeddingPlanning 
                </a>
                <span class="hotline text-start">Hotline: 0911 522 929</span>
        </a>
          </div>
          
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav ms-auto">
            <li class="nav-item">
              <a class="nav-link" aria-current="page" href="#">TRANG CHỦ</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                DỊCH VỤ
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item" href="#">Service 1</a></li>
                <li><a class="dropdown-item" href="#">Service 2</a></li>
                <li><a class="dropdown-item" href="#">Service 3</a></li>
              </ul>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">LIÊN HỆ</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">CHÚNG TÔI </a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

  </body>
</header>